DEBUG=false
deploy=true
SECRET_KEY=change-me-to-a-strong-random-string-with-more-than-32-characters

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=blood_donation

REDIS_LINK=redis://redis:6379/0
RABBIT_URI=amqp://guest:guest@rabbitmq:5672//

DATABASE_URL=postgres://user:password@db:5432/blood_donation

EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-email-app-password

RABBITMQ_USER=guest
RABBITMQ_PASS=guest

ACCESS_TOKEN_LIFETIME=00-00-01
REFRESH_TOKEN_LIFETIME=00-00-10
