DEBUG=true
deploy=false
SECRET_KEY=change-me

REDIS_LINK=redis://localhost:6379/0
RABBIT_URI=amqp://guest:guest@localhost:5672//

DATABASE_URL=postgres://user:password@localhost:5432/database_name

EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-email-app-password

ACCESS_TOKEN_LIFETIME=00-00-01
REFRESH_TOKEN_LIFETIME=00-00-10
